@model HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
    var imagepath = "~/images/" + (string.IsNullOrEmpty(Model.Employee.ImagePath) ? "team.jpg" : Model.Employee.ImagePath);
}
<link href="~/css/Stylesheet.css" rel="stylesheet" />
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top ImageSize" src="@imagepath" asp-append-version="true" />
                <table align="center">
                    <tr>
                        <th> Id</th>
                        <td>@Model.Employee.Id</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>@Model.Employee.Department</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>@Model.Employee.Age</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.Employee.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Employee.Email</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark btn-sm">Back</a>
                <a asp-controller="Work" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-outline-dark btn-sm">Edit</a>
                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Employee.Id" class="btn btn-outline-dark btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}